{% extends 'blog/base.html' %}

{% block page_content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Create\Update an article</h1>
</div>

<div class="container">
    <div class="col-12">
        <div class="row text-start">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if object %}
                                <a href="{% url 'blog:view' object.pk %}" type="submit" class="btn btn-success">Save</a>
                                <a href="{% url 'blog:view' object.pk %}" class="btn btn-warning">Cancel</a>
                            {% else %}
                                <button type="submit" class="btn btn-success">Create</button>
                                <a href="{% url 'blog:list'%}" class="btn btn-warning">Cancel</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}