{% extends 'blog/base.html' %}

{% block page_content %}

    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Sign up</button>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </div>

{% endblock %}
