{% extends 'blog/base.html' %}
{% load my_tags %}
{% block page_content %}
<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h5 class="card-title">{{object.product_name}}</h5>
            <p class="card-text">Price: {{object.price}} rub</p>
            <p class="card-text">Category: {{object.category }}</p>
            <p class="card-text">Description: {{object.description | slice:100 }}</p>
            <p class="card-text">Last change: {{object.modified_date }}</p>

            <div class="btn-group">
                <a class="btn btn-sm btn-primary"
               href="{% url 'catalog:product_list'%}" role="button">Back</a>
                <a class="btn btn-sm btn-primary"
               href="{% url 'catalog:product_edit' object.pk %}" role="button">Edit</a>
                <a class="btn btn-sm btn-danger"
               href="{% url 'catalog:product_delete' object.pk %}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="col-6">
    <img src="{% mediapath object.preview_pic %}" class="card-img-top" alt="{{ object.product_name }}">
</div>



{% endblock %}
