{% extends 'blog/base.html' %}

{% block page_content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Create\Update an item</h1>
</div>

<div class="container">
    <div class="col-12">
        <div class="row text-start">
            <div class="col-6">
                <form method="post" enctype="multipart/form-data">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Create/update</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <a href="{% url 'catalog:product_detail' object.pk%}" type="submit" class="btn btn-success">
                                {% if object %}
                                    Save
                                {% else %}
                                    Create
                                {% endif %}
                            </a>
                            <a href="{% url 'catalog:product_detail' object.pk%}" class="btn btn-warning">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <form method="post" enctype="multipart/form-data">
                    <div class = "card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Product versions</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p}}
                            {% endfor %}
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}